.site-heading{
    margin-top:5rem;
    margin-bottom:5rem;
    font-family:'Raleway';
    line-height:1;
    text-transform:uppercase;
}
.site-heading .site-heading-upper{
    display:block;
    font-size:2rem;
    font-weight:800;
}
.site-heading .site-heading-lower{
    display:block;
    font-weight:100;
    font-size:5rem;
    line-height:5rem;
}
#mainNav{
    background-color: brown;
    font-family:'Raleway';

}
nav {
    background-color: rgba(47, 23, 15, 0.9) !important;/*see the difference when romove the !important*/
    font-family: 'Raleway';
  }

body{
    font-family:'Lora';
    background-image:url("D:/Antony/websites/startbootstrap-business-casual-master/img/bg.jpg");
    
}
/*
#mainNav .navbar-nav .nav-item .nav-link {
    color:green;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color:green;
}*/
#mainNav .navbar-nav .nav-item .nav-link {color:yellow;}
.page-section{
    margin-top:5rem;
    margin-bottom:5rem;
}
.cta{
    padding-top:5rem;
    padding-bottom:5rem;
    background-color: orange;
}
.a{background-color: orchid;}
.cta-inner{
    position:relative;
    background-color: rgb(224, 211, 197);
    padding:3rem;
    margin:1rem;
}
.cta-inner:before{
    border-radius:1rem;
    content:"ddd";
    background-color: red;
    position:absolute;
    top:1rem;
    bottom:1rem;
    right:1rem;
    left:1rem;
    border:1px solid green;
    z-index:-1;
}