.site-heading{
    margin-top:5rem;
    margin-bottom:5rem;
    font-family:'Raleway';
    line-height:1;
    text-transform:uppercase;
}
.site-heading .site-heading-upper{
    display:block;
    font-size:2rem;
    font-weight:800;
}
.site-heading .site-heading-lower{
    display:block;
    font-weight:100;
    font-size:5rem;
    line-height:5rem;
}
#mainNav{
    background-color: brown;
    font-family:'Raleway';

}
nav {
    /* background-color: rgba(47, 23, 15, 0.9) !important;see the difference when romove the !important */
    /* font-family: 'Raleway'; */
  }

body{
    font-family:'Lora';
    background-image:url("D:/Antony/websites/startbootstrap-business-casual-master/img/bg.jpg");
    
}
